.Menu-btn {
  border-radius: 50%;
  font-size: 20pt;
  outline: none;
  position: fixed;
  margin: 10px;
  bottom: 0;
  right: 0;
  color: #fdb241;
  background: #07837da6;
  width: 2cm;
  height: 2cm;
}
.Menu-container {
  position: relative;
}
.Menu-btn:hover {
  border-color: #fdb241;
  border-width: 2px;
}

.Menu-btn.Spawned {
  animation: New-btn 350ms forwards;
}

@keyframes New-btn {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(-100px, -100px);
  }
}
